# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# React Native
.expo/
.expo-shared/

# Android
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/build/
android/.gradle/
android/app/release/

# iOS
ios/Pods/
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Environment
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Testing
coverage/

# Misc
.DS_Store
*.log
*.tmp
*.temp

# Build
build/
dist/

# Metro
.metro-health-check*
